<mat-toolbar>
  <mat-toolbar-row>
    <span>
      <h1><a [routerLink]="['/home']" style="color:white;text-decoration:none">Home</a></h1>
    </span>
    <span class="example-spacer">
    </span>
    <!-- მენიუ -->
    <button style="margin-right: 10px" mat-mini-fab [matMenuTriggerFor]="menu" color="accent">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a [routerLink]="['/home/profile']" style="text-decoration:none" mat-menu-item>Profile</a>
      <a href="javascript:" (click)="logout()" style="text-decoration:none" mat-menu-item>logout</a>
    </mat-menu>
    <!-- მენიუ -->
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container" *ngIf="shouldRun">
  <mat-sidenav mode="side" opened class="mat-elevation-z8">
    <!-- LIST -->
    <mat-list role="list">
      <!-- <h3 mat-subheader>Folders</h3> -->
      <mat-list-item [routerLink]="['/home/profile']" class="menu-item" routerlinkactive="active" role="listitem"
        [class.active]="isProfileActive">
        <mat-icon mat-list-icon>person</mat-icon>
        <h4 mat-line>Profile</h4>
      </mat-list-item>

      <mat-list-item [routerLink]="['/home/addtask']" class="menu-item" routerlinkactive="active" role="listitem" [class.active]='isAddTaskActive'>

        <mat-icon mat-list-icon>library_add</mat-icon>
        <h4 mat-line>Add Task</h4>
      </mat-list-item>
      <!-- <mat-list-item [routerLink]="['/home/addtask']" class="menu-item" routerlinkactive="active" role="listitem">
        <mat-icon mat-list-icon>person</mat-icon>
        <h4 mat-line>Profile</h4>
      </mat-list-item> -->
      <mat-divider></mat-divider>
    </mat-list>


  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet style="width: 100%"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
