<div class="login mt-5">

  <mat-card>
    <h1 style="text-align: center">{{header}}</h1>
    <flash-messages></flash-messages>
    <mat-tab-group style="width:100%" #tabRef (selectedTabChange)="logChange(tabRef.selectedIndex)">
      <mat-tab label="Login">
        <mat-card>
          <mat-card-content>
            <form [formGroup]="loginForm" (submit)=onLoginSubmit()>
              <mat-form-field style="width: 100%">
                <mat-label>User Name</mat-label>
                <input type="text" matInput required formControlName="userName" minlength="3">
              </mat-form-field>
              <mat-form-field style="width: 100%">
                <mat-label>Password</mat-label>
                <input type="password" formControlName="password" matInput required>
              </mat-form-field>
              <button type="submit" mat-raised-button color="primary">Login</button>
            </form>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="Registration">
        <mat-card>
          <mat-card-content>
            <form [formGroup]="registerForm" (submit)="onRegisterSubmit()">
              <mat-form-field style="width: 100%">
                <mat-label>User Name</mat-label>
                <mat-hint align="end">Min 5 Chars</mat-hint>
                <input type="text" matInput required minlength="3" formControlName="userName">
              </mat-form-field>

              <mat-form-field style="width: 100%">
                <mat-label>Email</mat-label>
                <input type="email" matInput required
                  pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" formControlName="email">
              </mat-form-field>

              <mat-form-field style="width:100%">
                <mat-label>Role</mat-label>
                <mat-select formControlName="role" required>
                  <mat-option value="staff">Staff</mat-option>
                  <mat-option value="manager">Manager</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field style="width: 100%">
                <mat-label>Password</mat-label>
                <input #password type="password" minlength="5" matInput required formControlName="password">
                <mat-hint align="end">Min 5 Chars</mat-hint>
              </mat-form-field>
              <mat-form-field style="width: 100%">
                <mat-label>Confirm Password</mat-label>
                <input type="password" matInput required formControlName="repeatPassword">
              </mat-form-field>
              <div>
                <button type="button" mat-button (click)="fileInput.click()">
                  <mat-icon>cloud_upload</mat-icon> upload Image
                </button>
                <input (change)=onFileChange($event) formControlName="image" hidden type="file" #fileInput accept="image/*">
              </div>
              <img class="img-thumbnail mt-2 mb-2" style="width: 40%" src="{{imageUrl}}" *ngIf="imageUrl">
              <br>
              <button mat-raised-button color="primary">Register</button>
            </form>
          </mat-card-content>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
